
 /* Graphics colors */
:root{
  --background: #36393f;
  --tCol: #E0E5E9;
  --lCol: #E0E5E9;
  --xGCol: rgba(77, 77, 82, 0.5);
  --xValCol: #E0E5E9;
  --yGCol: rgba(77, 77, 82, 0.5);
  --yValCol: #E0E5E9;
  --fColB: #ee82ee;
  --jColB: #9370db;
  --dColB: #9932cc;
  --vColB: #9ba09b;
  --brColB: rgba(92, 207, 255, 0.2);
  --brHovColB: rgba(120, 217, 255, 0.2);
}

.theme-icon:before{
  color: white;
}
.theme-icon:hover:before{
  background: #212226;
  transition: .2s;
}

html{
    background-color: #36393f;
}

.credits{
  color: rgba(209, 202, 197, 0.5);
}

.title,.home-title{
    color: #d1cac5;
}
.paragraph,.home-paragraph,.sub-title{
    color: #d1cac5;
}

/* Home */
.home-title-div span.home-title {
  background-color: #36393f;
  color: #d1cac5;
}
#up:before{
  color: rgba(255, 255, 255, 0.5);
}
#down2:before{
  color: rgba(255, 255, 255, 0.5);
}
#down:before{
  color: rgba(54, 57, 63, 0.7);
}
#down:hover:before{
  color: rgba(113, 116, 123, 0.7);
}
#down2:hover:before{
  color: rgba(179, 179, 179, 0.5);
}
#up:hover:before{
  color: rgba(179, 179, 179, 0.5);
}

/* 404 page */
.center{
  color: #ffffff;
}
.btn{
  background-color: #ffffff;
  border: 2px solid #212226;
  color: #000;
}
.btn:hover{
  color: #ffffff;
  background-color: #212226;
}


/*Nav Bar*/
nav{
  background: #2f3136;
}
nav ul li a{
  color: #f8fbfc;
}
a.active,a.not-active:hover{
  background: #212226;
}
.checkbtn{
  color: #d1cac5;
}


@media (max-width: 980px){
  ul{
    background: #484850;
  }
}