
 /* Graphics colors */
:root {
  --background: #f8fbfc;
  --tCol: #000;
  --lCol: #000;
  --xGCol: rgba(0, 0, 0, 0.1);
  --xValCol: #000;
  --yGCol: rgba(0, 0, 0, 0.1);
  --yValCol: #000;
  --fColB: #dda0dd;
  --jColB: #ffdab9;
  --dColB: #AFEEEE;
  --vColB: #bbbfbb;
  --brColB: rgba(46, 106, 132, 0.2);
  --brHovColB: rgba(53, 96, 113, 0.2);
}

.theme-icon:before{
  color: white;
}
.theme-icon:hover:before{
  background: #14567a;
  transition: .2s;
}

html{
  background-color: #f8fbfc;
}

.credits{
  color: rgba(34, 31, 29,0.5);
}

.title,.home-title{
    color: #221f1d;
}
.paragraph,.home-paragraph,.sub-title{
    color: #221f1d;
}

/* Home */
.home-title-div span.home-title {
  background-color: #f8fbfc;
  color: #221f1d;
}
#up:before,#down2:before{
  color: rgba(54, 57, 63, 0.7);
}
#down:before{
  color: rgba(255, 255, 255, 0.5);
}
#down:hover:before{
  color: rgba(179, 179, 179, 0.5);
}
#up:hover:before,#down2:hover:before{
  color: rgba(113, 116, 123, 0.7);
}

/* 404 page */
.btn{
  background-color: #fff; /* Green */
  border: 2px solid #166088;
  color: #221f1d;
}
.btn:active, .btn:hover{
  color: white;
  background-color: #14567a;
}


/*Nav Bar*/
nav{
  background: #166088;
}
nav ul li a{
  color: #f8fbfc;
}
a.active,a.not-active:hover{
  background: #14567a;
}
.checkbtn{
  color: #f8fbfc;
}


@media (max-width: 980px){
  ul{
    background: #5c90ac;
  }
}