
 /* Graphics colors */
:root {
  --background: #f8fbfc;
  --tCol: #000;
  --lCol: #000;
  --xGCol: rgba(0, 0, 0, 0.1);
  --xValCol: #000;
  --yGCol: rgba(0, 0, 0, 0.1);
  --yValCol: #000;
  --fColB: #dda0dd;
  --jColB: #ffdab9;
  --dColB: #AFEEEE;
  --vColB: #bbbfbb;
  --baColB: rgba(241, 103, 241, 0.2);
  --baHovColB: rgba(198, 68, 198, 0.2);
}

.theme-icon:before{
  color: white;
}
.theme-icon:hover:before{
  background: #14567a;
  transition: .2s;
}

html{
  background-color: #f8fbfc;
}

.credits{
  color: rgba(34, 31, 29,0.5);
}

.title{
    color: #221f1d;
}
.paragraph{
    color: #221f1d;
}

/* 404 page */
.btn{
  background-color: #fff; /* Green */
  border: 2px solid #166088;
  color: #221f1d;
}
.btn:active, .btn:hover{
  color: white;
  background-color: #14567a;
}


/*Nav Bar*/
nav{
  background: #166088;
}
nav ul li a{
  color: #f8fbfc;
}
a.active,a.not-active:hover{
  background: #14567a;
}
.checkbtn{
  color: #f8fbfc;
}


@media (max-width: 980px){
  ul{
    background: #5c90ac;
  }
}