
/* Graphics colors */
:root{
  --vColJ: #2471A3;
  --vHovColJ: #2980B9;
  --mColJ: #17A589;
  --mHovColJ: #1ABC9C;
  --dColJ: #CB4335;
  --dHovColJ: #EC7063;
  --bColB: #f167f1;
  --bHovColB: #c644c6;
}


/* TEST ZONE */



/* TEST ZONE */

body, html {
  height: 100%;
  scroll-behavior: smooth;
}

/* Fonts */
@font-face {
  font-family: 'icons'; /* Font made with icomoon.io */
  src: url('/static/Fonts/icons.woff') format('woff');
}


/* Home page */
.home-title-div {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}
.home-title-div span.home-title {
    font-family: "Noto Sans TC",sans-serif;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: bold;
    vertical-align: middle;
    padding: 15px
}
.fixed-img{
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.scroll{
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
#scroll-down{
  margin-top: 25px;
}
#scroll-down2{
  margin-top: -80px;
}
#scroll-up{
  margin-top: -50px;
}
#down:before{
  font-family: "icons",sans-serif;
  content: "\62";
  font-size: 40px;
  text-decoration: none;
}
#down2:before{
  font-family: "icons",sans-serif;
  content: "\62";
  font-size: 40px;
  text-decoration: none;
}
#up:before{
  font-family: "icons",sans-serif;
  content: "\63";
  font-size: 40px;
  text-decoration: none;
}
.column {
  flex: 25%;
}
.row{
  text-align: center;
  display: flex;
  margin: 25px 25px auto 25px;
}

/* Texts */
.flex-text{
  font-family: 'Noto Sans TC', sans-serif;
  margin: auto;
  align-items: center;
}
.title{
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  margin-top: 80px;
}
.paragraph{
  font-size: 20px;
  text-align: justify;
  margin: 30px 200px auto;
}
.home-paragraph{
  font-size: 25px;
  text-align: justify;
  margin: 40px 200px auto;
}
#bvn{
  margin-top: 50px;
  font-size: 35px;
}
.sub-title{
  font-size: 30px;
  text-align: left;
  margin: 50px 200px 30px;
}
#img-text{
  margin: 25px auto 25px auto;
  text-align: center;
}
.credits{
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  text-align: center;
  height: 50px;
  margin: 40px auto 25px auto;
}


/* Make Charts responsive */
.figure{
  display: block;
  margin: 50px 100px auto 100px;
  width: 1fr;
  height: 800px;
}


/* Set the theme icon */
.theme-icon:before{
  font-family: "icons",sans-serif;
  content: "\61";
  border-radius: 25%;
}


/* 404 page */
.logo404{
  width: 230px;
  height: 230px;
  margin-left: 10px;
  margin-right: 10px;
}
.center{
  font-family: "Roboto",sans-serif;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
}
#errorTitle {
  font-size: 300px;
  margin-top: 120px;
  font-weight:bold;
}
#errorT1{
  font-size: 80px;
  margin-left: -450px;
  margin-top: -40px;
  text-align: left;
}
#errorT2{
  font-size: 50px;
  margin-left: 135px;
  text-align: center;
}
.btn-center{
  justify-content: center;
  text-align: center;
  margin: 100px auto 25px auto;
}
.btn{
  font-family: "Roboto",sans-serif;
  justify-content: center;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 25px;
}


/*Nav Bar*/
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav{
  height: 80px;
  width: 100%;
}
.logo{
  width: 70px;
  height: 70px;
  margin-top: 5px;
  margin-left: 75px;
  margin-right: auto;
}
nav ul{
  float: right;
  margin-right: 40px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 4px;
}
nav ul li span{
  vertical-align: middle;
  font-size: 45px;
  margin-left: 15px;
}
nav ul li a{
  font-size: 17px;
  font-family: 'oto-sans', sans-serif;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  vertical-align: middle;
}
a.active,a.not-active:hover{
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}


/* Change css with screen size */
@media (max-width: 1050px){
  .paragraph,.home-paragraph{
    margin-left: 100px;
    margin-right: 100px;
  }
  .sub-title{
    margin-left: 100px;
    margin-right: 100px;
  }
  .theme_bulb{
    margin-left: 93%;
  }
  .logo{
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: auto;
  }
  nav ul li a{
    font-size: 16px;
  }
  .figure{
    height: 600px;
    margin: 50px auto auto auto;
  }
}


@media (max-width: 980px){
  .title{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 50px;
  }
  .paragraph,.home-paragraph{
    margin-left: 50px;
    margin-right: 50px;
  }
  .sub-title{
    margin-left: 50px;
    margin-right: 50px;
  }
  .home-title-div span.home-title {
    font-size: 35px;
    padding: 10px
  }
  .theme_bulb{
    margin-left: 80%;
  }
  .checkbtn{
    display: block;
  }
  .titre{
    font-size: 50px;
  }
  ul{
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0;
  }
}


@media (max-width: 850px){
  .paragraph,.home-paragraph{
    margin-left: 20px;
    margin-right: 20px;
  }
  .sub-title{
    margin-left: 20px;
    margin-right: 20px;
  }
  .figure{
    height: 400px;
  }
  #fig3\.2,#fig5{
    height: 500px;
  }
}
/* Responsive for 404 page */
@media (max-width: 825px){
  .logo404{
    width: 150px;
    height: 150px;
  }
  #errorTitle {
    margin-top: 220px;
    font-size: 200px;
  }
  #errorT1{
    font-size: 50px;
    margin-right: -110px;
  }
  #errorT2{
    margin-left: 135px;
    font-size: 35px;
  }
  .btn-center{
    margin-top: 80px;
  }
  .btn{
    padding: 10px 28px;
    font-size: 20px;
  }
}
@media (max-width: 550px){
  .logo404{
    width: 130px;
    height: 130px;
  }
  #errorTitle {
    margin-top: 220px;
    font-size: 180px;
  }
  #errorT1{
    font-size: 45px;
    margin-right: -150px;
  }
  #errorT2{
    margin-left: 110px;
    font-size: 28px;
  }
}