
/* Graphics colors */
:root{
  --vColJ: #2471A3;
  --vHovColJ: #2980B9;
  --mColJ: #17A589;
  --mHovColJ: #1ABC9C;
  --dColJ: #CB4335;
  --dHovColJ: #EC7063;
  --bColB: #f167f1;
  --bHovColB: #c644c6;
}


/* Fonts */
@font-face {
  font-family: 'icomoon';
  src: url('/static/Fonts/icomoon.woff') format('woff');
}
@font-face {
  font-family: 'SegoeUI';
  src: local('SegoeUI'), url('/static/Fonts/SegoeUI.woff') format('woff');
}
@font-face {
  font-family: 'SegoeUI_Bold';
  src: local('SegoeUI_Bold'), url('\Fonts\SegoeUI_Bold.woff') format('woff');
}
@font-face {
  font-family: Open-sans;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
}
@font-face {
  font-family: Noto-sans;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&display=swap");
}


/* TEST ZONE */



/* TEST ZONE */


/* Texts */
.flex-text{
  font-family: 'Noto Sans TC', sans-serif;
  margin: auto;
  align-items: center;
}
.title{
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  margin-top: 80px;
}
.paragraph{
  font-size: 20px;
  text-align: justify;
  margin: 50px 200px auto;
}
.credits{
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  text-align: center;
  margin: 25px auto 25px auto;
}


/* Make Charts responsive */
.figure{
  display: block;
  margin: 50px auto auto;
  width: 1fr;
  height: 700px;
}


/* Set the theme icon */
.theme-icon:before{
  font-family: "icomoon",sans-serif;
  content: "\61";
  border-radius: 25%;
}


/* 404 page */
.logo404{
  width: 230px;
  height: 230px;
  margin-left: 10px;
  margin-right: 10px;
}
.center{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#error {
  font-family: sans-serif;
  font-size: 300px;
  margin-top: 150px;
  font-weight:bold;
}
#error-h3{
  font-family: sans-serif;
  font-size: 80px;
  margin-left: -450px;
  margin-top: -30px;
  text-align: left;
}
#error-p{
  font-family: sans-serif;
  font-size: 50px;
  margin-left: 250px;
  text-align: center;
}
#home{
  margin-top: 230px;
}
.btn{
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  flex-wrap: nowrap;
  font-family: sans-serif;
  font-size: 16px;
  position: fixed;
  top: 50%;
  margin-left: 45%;
  margin-right: auto;
  border-radius: 25px;
}




#intro{
    margin-top: 50px;
    text-align: center;
}
#figuresp{
    margin-top: 50px;
    text-align: center;
}



/*Nav Bar*/

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav{
  height: 80px;
  width: 100%;
}
.logo{
  width: 70px;
  height: 70px;
  margin-top: 5px;
  margin-left: 75px;
  margin-right: auto;
}
nav ul{
  float: right;
  margin-right: 40px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 4px;
}
nav ul li span{
  vertical-align: middle;
  font-size: 45px;
  margin-left: 15px;
}
nav ul li a{
  font-size: 17px;
  font-family: 'oto-sans', sans-serif;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  vertical-align: middle;
}
a.active,a.not-active:hover{
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1000px){
  .theme_bulb{
    margin-left: 93%;
  }
  .logo{
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: auto;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 950px){
  .theme_bulb{
    margin-left: 80%;
  }
  .checkbtn{
    display: block;
  }
  .titre{
    font-size: 50px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a.active,a.not-active{
    background: none;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
