<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Projet 2</title>
    <link href={{style}} rel="stylesheet" id="pageTheme">
    <link href={{url_for('static',filename='styles/style.css')}} rel="stylesheet" id="pageStyle">
    <link rel="icon" href="{{url_for('static', filename='img/logo.ico')}}">
    <script src="{{url_for('static', filename='Chart.js/dist/Chart.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--  FONTS  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> <!-- Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> <!-- Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet"> <!-- Noto Sans TC -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>  <!-- For the navbar icon -->
</head>
<body>
    <nav>
        <input type="checkbox" id="check" onclick="stopScroll()">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="{{url_for('index')}}" class="image-link">
            <img class="logo" onmouseover="this.src='static/img/logoKAWAI.png'" onmouseout="this.src='static/img/logo.png'" src="static/img/logo.png">
        </a>
       <ul>
        <li><a {% if request.url_rule.endpoint == "index" %}class="active"{% else %}class="not-active"{% endif %} href="{{url_for('index')}}">Accueil</a></li>
        <li><a {% if request.url_rule.endpoint == "pages.figure1" %}class="active"{% else %}class="not-active"{% endif %} href="{{url_for('pages.figure1')}}">Figure 1</a></li>
        <li><a {% if request.url_rule.endpoint == "pages.figure2" %}class="active"{% else %}class="not-active"{% endif %} href="{{url_for('pages.figure2')}}">Figure 2</a></li>
        <li><a {% if request.url_rule.endpoint == "pages.figure3" %}class="active"{% else %}class="not-active"{% endif %} href="{{url_for('pages.figure3')}}">Figure 3</a></li>
        <li><a {% if request.url_rule.endpoint == "pages.figure4" %}class="active"{% else %}class="not-active"{% endif %} href="{{url_for('pages.figure4')}}">Figure 4</a></li>
        <li><a {% if request.url_rule.endpoint == "pages.figure5" %}class="active"{% else %}class="not-active"{% endif %} href="{{url_for('pages.figure5')}}">Figure 5</a></li>
        <li><span class="theme-icon" onclick="switchTheme();" title="Switch theme"></span></li>
       </ul>
    </nav>
    {% block content %}{% endblock %}

        <div class="flex-text">
            <h1 class="credits">© 2021 Groupe 1C-3 LINFO1102</h1>
        </div>

</body>
</html>