<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Projet 2</title>
    <link href={{url_for('static',filename='style.css')}} rel="stylesheet" id="pagestyle">
    <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}">
    <script src="{{url_for('static', filename='Chart.js/dist/Chart.js')}}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js%22%3E"></script>  <!-- For the navbar icon -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="{{url_for('index')}}" class="image-link">
        <img class="logo" src="{{url_for('static',filename='img/logo.png')}}">
        </a>
       <ul>
        <li><a {% if request.url_rule.endpoint == "index" %}class="active"{% else %}class="not-active"{% endif %} href="{{url_for('index')}}">Accueil</a></li>
        <li><a {% if request.url_rule.endpoint == "graphs.figure1_1" %}class="active"{% else %}class="not-active"{% endif %} href="{{url_for('graphs.figure1_1')}}">Figure 1.1</a></li>
        <li><a {% if request.url_rule.endpoint == "graphs.figure3_1" %}class="active"{% else %}class="not-active"{% endif %} href="{{url_for('graphs.figure3_1')}}">Figure 3.1</a></li>
        <li><a {% if request.url_rule.endpoint == "graphs.figure3_2" %}class="active"{% else %}class="not-active"{% endif %} href="{{url_for('graphs.figure3_2')}}">Figure 3.2</a></li>
        <li><a {% if request.url_rule.endpoint == "graphs.figure4_2" %}class="active"{% else %}class="not-active"{% endif %} href="{{url_for('graphs.figure4_2')}}">Figure 4.2</a></li>
        <li><a {% if request.url_rule.endpoint == "graphs.figure_5" %}class="active"{% else %}class="not-active"{% endif %} href="{{url_for('graphs.figure_5')}}">Figure 5</a></li>
       </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>