{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Figure 4{% endblock %}</h1>
{% endblock %}

{% block content %}
    <body>
        <div class="flex-text">
            <h1 class="title" id="figure4">Figure 4</h1>
        </div>
        <div class="flex-text">
            <p class="sub-title">
                Problématique
            </p>
        </div>
        <div class="flex-text">
            <p class="paragraph">
                Il arrive, dans la ferme des 3 chaînes, que certains veaux dédèdent de manière prématurée.
                Nous nous sommes alors questionnés quant aux différentes raisons pouvant expliquer de tels drames.
                Nous avons alors décidé de nous pencher sur les différentes familles de veaux pour découvrir si certaines
                d'entre elles sont particulièrement touchées par ces décès prématurés.
            </p>
        </div>
        <div class="flex-text">
            <p class="sub-title">
                Graphique
            </p>
        </div>
        <div class="flex-text">
            <p class="paragraph">
                Ce graphe vise donc à illustrer le taux de veaux vivants par rapport au taux de
                veaux décédés prématurément, et ce, par rapport au pourcentage total de veaux présents
                dans la famille.     
            </p>
        </div>
        <div>
            <canvas id="bar-chart" width="1600" height="500"></canvas>
        </div>
            <script>
                var css = getComputedStyle(document.body)
                var vCol = css.getPropertyValue('--vColJ')
                var vHovCol = css.getPropertyValue('--vHovColJ')
                var jCol = css.getPropertyValue('--jColB')
                var mCol = css.getPropertyValue('--mColJ')
                var fCol = css.getPropertyValue('--fColB')
                var mHovCol = css.getPropertyValue('--mHovColJ')
                var dCol = css.getPropertyValue('--dColJ')
                var dHovCol = css.getPropertyValue('--dHovColJ')
                var totCol = css.getPropertyValue('--totColJ')
                var totHovCol = css.getPropertyValue('--totHovColJ')
                var tCol = css.getPropertyValue('--tCol')
                var lCol = css.getPropertyValue('--lCol')
                var xGCol = css.getPropertyValue('--xGCol')
                var xValCol = css.getPropertyValue('--xValCol')
                var yGCol = css.getPropertyValue('--yGCol')
                var yValCol = css.getPropertyValue('--yValCol')


                var familles = {{data[0] | safe}}
                var vivant = {{data[1] | safe}}
                var decede = {{data[2] | safe}}
                var total = {{data[3] | safe}}

                var bar_ctx = document.getElementById('bar-chart');
                var bar_chart = new Chart(bar_ctx, {
                    type: 'bar',
                    data: {
                        labels: familles,
                        datasets: [
                        {
                            label: ' Veaux Vivants',
                            data: vivant,
                            backgroundColor: vCol,
                            hoverBackgroundColor: vHovCol,
                            hoverBorderWidth: 0
                        },
                        {
                            label: 'Décédés prématurément',
                            data: decede,
                            backgroundColor: jCol,
                            hoverBackgroundColor: dHovCol,
                            hoverBorderWidth: 0
                        },
                        {
                            label: 'Nombre total de veaux',
                            data: total,
                            backgroundColor: fCol,
                            hoverBackgroundColor: dHovCol,
                            hoverBorderWidth: 0,
                            hidden: true
                        }
                        ]
                    },

                        options: {
                         layout: {
                           padding: 25
                         },
                         title: {
                             display: true,
                             text: "Pourcentage d'animaux décédés prématurément",
                             fontColor: tCol,
                         },
                         legend: {
                             labels: {
                                 fontColor: lCol
                             }
                         },
                         responsive: true,
                         maintainAspectRatio: false,
                         tooltips: {
                             mode: 'label',
                         },
                         scales: {
                          xAxes: [{
                              gridLines: {
                                  color: xGCol
                                },
                              ticks: {
                                  fontColor: xValCol
                              },
                              barPercentage: 0.4,
                              stacked: true,
                              beginAtZero: true
                            }],
                          yAxes: [{
                              gridLines: {
                                    color: yGCol
                                },
                              ticks: {
                                  fontColor: yValCol
                              },
                              stacked: true,
                              beginAtZero: true
                            }],
                        },
                    },
                   }
                );
            </script>
    </body>
{% endblock %}
