{% extends 'base.html' %}

{% block header %}
    <title>{% block title %}Figure 5{% endblock %}</title>
{% endblock %}
{% block content %}
   <body>
        <h> Graphe  </h>
        <canvas id="line-chart" width="1600" height="700"></canvas>
        <script>
            var nfamilles = {{ data[0] | safe }}
            var taux_fem = {{ data[1] | safe }}
            var taux_jum = {{ data[2] | safe }}
            var dead = {{ data[3] | safe }}

            var ctx = document.getElementById('line-chart');
            var stackedLine = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: nfamilles,
                    datasets: [
                        {
                            label: "Taux de femelles",
                            data: taux_fem,
                            axis: 'y',
                            borderColor: "#FFDAB9",
                            fill: false
                        },
                        {
                            label: "Taux de jumeaux",
                            data: taux_jum,
                            axis: 'y',
                            borderColor: "#DDA0DD",
                            fill: false
                        },
                        {
                            label: "Taux de morts prématurés",
                            data: dead,
                            axis: 'y',
                            borderColor: "#AFEEEE",
                            fill: false
                        }
                    ]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            stacked: true
                        }
                    }
                }
            });
        </script>
   </body>
{% endblock %}
