{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Figure 2{% endblock %}</h1>
{% endblock %}

{% block content %}
    <body>
        <div class="flex-text">
            <h1 class="title" id="figure2">Figure 2</h1>
        </div>
        <div class="flex-text">
            <p class="paragraph">Par ce graphique, nous cherchons à déterminer si la période de l’année a une influence
                sur le taux de morts-nés dans la ferme. Pour cela, nous établissons l’échelle du nombre de morts sur
                l’axe Y du graphique, et sur l’axe X, nous mettons les différents mois de l’année. Ensuite,
                il ne reste plus qu’à lire le graphique!</p>
        </div>
        <div class="figure" id="fig3.1">
            <canvas id="bar-chart" width="100%" height="100%"></canvas>
        </div>
            <script>
                var css = getComputedStyle(document.body)
                var vCol = css.getPropertyValue('--vColJ')
                var vHovCol = css.getPropertyValue('--vHovColJ')
                var mCol = css.getPropertyValue('--mColJ')
                var mHovCol = css.getPropertyValue('--mHovColJ')
                var dCol = css.getPropertyValue('--dColJ')
                var dHovCol = css.getPropertyValue('--dHovColJ')
                var tCol = css.getPropertyValue('--tCol')
                var lCol = css.getPropertyValue('--lCol')
                var xGCol = css.getPropertyValue('--xGCol')
                var xValCol = css.getPropertyValue('--xValCol')
                var yGCol = css.getPropertyValue('--yGCol')
                var yValCol = css.getPropertyValue('--yValCol')


                var data = {{data | safe}}
                var bar_ctx = document.getElementById('bar-chart');
                var bar_chart = new Chart(bar_ctx, {
                    type: 'bar',
                    data: {
                        labels: [
                            'Janvier',
                            'Février',
                            'Mars',
                            'Avril',
                            'Mai',
                            'Juin',
                            'Juillet',
                            'Aout',
                            'Septembre',
                            'Octobre',
                            'Novembre',
                            'Décembre',
                        ],
                        datasets: [
                        {
                            label: 'Mort-nés',
                            data: data,
                            backgroundColor: vCol,
                            hoverBackgroundColor: vHovCol,
                            hoverBorderWidth: 0
                        },
                        ]
                    },
                    options: {
                        layout: {
                             padding: 25
                        },
                        title: {
                            display: true,
                            text: "Graphique du nombre de mort-nés par mois sur toutes les années",
                            fontColor: tCol

                        },
                        legend: {
                            labels: {
                                fontColor: lCol
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        tooltips: {
                            mode: 'label',
                        },
                        scales: {
                            xAxes: [{
                                gridLines: {
                                    color: xGCol
                                },
                                ticks: {
                                    fontColor: xValCol
                              },
                                barPercentage: 0.4,
                                stacked: true,
                                beginAtZero: true
                            }],
                            yAxes: [{
                                gridLines: {
                                    color: yGCol
                                },
                                ticks: {
                                  fontColor: yValCol
                                },
                                stacked: true,
                                beginAtZero: true
                            }],
                        },
                    },
                   },
                );
            </script>
    </body>
{% endblock %}