{% extends 'base.html' %}

{% block header %}
    <title>{% block title %}Figure 5{% endblock %}</title>
{% endblock %}

{% block content %}
   <body>
        <p> yep </p>
        <canvas id="line-chart" width="1600" height="700"></canvas>
        <script>
            var ctx = document.getElementById('line-chart');
            var stackedLine = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['fami1','fami2'],
                    datasets: [
                        {
                            label: "Femelles",
                            data: [10, 12],
                            axis: 'x',
                            borderColor: "#d24343",
                            hoverBorderColor: "#9d1818",
                            fill: false
                        },
                        {
                            label: "Jums",
                            data: [6,7],
                            axis: 'x',
                            borderColor: "#69d962",
                            hoverBorderColor: "#1d7317",
                            fill: false
                        }
                    ]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            stacked: true
                        }
                    }
                }
            });
        </script>
   </body>
{% endblock %}