{% extends 'base.html' %}

{% block header %}
    <title>{% block title %}Figure 5{% endblock %}</title>
{% endblock %}
{% block content %}
   <body>
        <div class="flex-text">
            <h1 class="title" id="figure5">Figure 5</h1>
        </div>
        <div class="flex-text">
            <p class="paragraph">
                Il est courant dans des fermes comme celle des 3 chênes d'utiliser des doses d'inséminations artificielles.
                Comme celles-ci sont précieuses, il est important de bien choisir les familles qui vont les recevoir.
                Les familles les plus recherchées sont celles qui ont le plus faible taux de vaches femelles,
                de jumeaux (il est moins probable que la gestation aille jusqu’à son terme en cas de jumeaux)
                et de morts prématurées.
            </p>
        </div>
        <div class="flex-text">
            <p class="paragraph">
                Le graphique ci-dessous vise à mettre en évidence les différences entre les familles et illustre
                les taux de vaches femelles, de mort prématurées et de jumeaux pour chaque famille.
                Le graphique contient également une courbe pour le nombre de vêlages par famille qui permet de voir
                quelle famille a la plus grande population. En effet, plus une famille a une population élevée est en danger,
                plus elle sera pertinente.
            </p>
        </div>
        <div class="figure" id="fig5">
            <canvas id="line-chart" width="100%" height="100%"></canvas>
        </div>
<!--        <canvas id="line-chart" width="1600" height="700"></canvas>-->
        <script>
            var css = getComputedStyle(document.body)
            var fCol = css.getPropertyValue('--fColB')
            var jCol = css.getPropertyValue('--jColB')
            var dCol = css.getPropertyValue('--dColB')
            var vCol = css.getPropertyValue('--vColB')
            var tCol = css.getPropertyValue('--tCol')
            var lCol = css.getPropertyValue('--lCol')
            var xGCol = css.getPropertyValue('--xGCol')
            var xValCol = css.getPropertyValue('--xValCol')
            var yGCol = css.getPropertyValue('--yGCol')
            var yValCol = css.getPropertyValue('--yValCol')

            var nfamilles = {{ data[0] | safe }}
            var taux_fem = {{ data[1] | safe }}
            var taux_jum = {{ data[2] | safe }}
            var dead = {{ data[3] | safe }}
            var n_velages = {{ data[4] | safe }}

            var ctx = document.getElementById('line-chart');
            var stackedLine = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: nfamilles,
                    datasets: [
                        {
                            label: "Taux de femelles",
                            data: taux_fem,
                            borderColor: fCol,
                            fill: false
                        },
                        {
                            label: "Taux de jumeaux",
                            data: taux_jum,
                            borderColor: jCol,
                            fill: false
                        },
                        {
                            label: "Taux de morts prématurés",
                            data: dead,
                            borderColor: dCol,
                            fill: false
                        },
                        {
                            label: "Nombre de velages",
                            data: n_velages,
                            borderColor: vCol,
                            fill: false
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            stacked: true
                        },
                        xAxes: [{
                          gridLines: {
                              color: xGCol
                            },
                          ticks: {
                              fontColor: xValCol
                          },
                        }],
                      yAxes: [{
                          gridLines: {
                                color: yGCol
                            },
                          ticks: {
                              fontColor: yValCol
                          },
                        }],
                    },
                    layout: {
                      padding: 25
                    },
                    title: {
                        display: true,
                        text: "Graphique des taux de femelles, de jumeaux, de morts prématurés et du nombre de velages par famille",
                        fontColor: tCol
                    },
                    legend: {
                        labels: {
                            fontColor: lCol
                        }
                    },
                    tooltips: {
                        mode: 'label',
                    },
                }
            });
        </script>
   </body>
{% endblock %}
