{% extends 'base.html' %}

{% block header %}
    <title>{% block title %}Accueil{% endblock %}</title>
{% endblock %}

{% block content %}
   <body>

    <div class="fixed-img" style="background-image: url('/static/img/illustrations/farm.png')"></div>

    <div class="home-title-div">
        <span class="home-title">La ferme des 3 chênes</span>
        <div class="scroll" id="scroll-down">
            <a href="#intro"><span id="down"></span></a>
        </div>
    </div>



    <!--  Define where the down scroll stops  -->
    <div style="position: absolute; margin-top: -150px">
        <p id="intro"></p>
    </div>

    <div class="flex-text">
        <p class="home-paragraph" id="bvn">Bienvenue sur le site de la ferme des 3 chênes !</p>
    </div>

    <div class="flex-text">
        <p class="home-paragraph">Ce site reprend les données des nombreuses habitantes laitières de la ferme afin de les
               implémenter dans différentes figures. Chacune de ces figures correspond à un problème ou tout simplement à
               une question à laquelle on peut facilement répondre grâce à un graphique. Ce qui permet de rendre ces
               données visuelles.</p>
    </div>

    <div class="flex-text">
        <p class="home-paragraph">Afin d’y voir plus clair, on vous laisse voyager à travers ces figures en
            cliquant sur leurs noms qui se situent tout en haut de la page !</p>
    </div>

    <div class="flex-text">
        <p class="home-paragraph">Vous pouvez aussi aller découvrir les magnifiques photos de vaches en bas de cette page.</p>
    </div>

    <div class="flex-text">
        <p class="home-paragraph" style="text-align: center; height: 150px">Bon voyage sur notre site !</p>
        <div class="scroll" id="scroll-down2">
            <a href="#images"><span id="down2"></span></a>
        </div>
    </div>

    <div class="fixed-img" style="background-image: url('/static/img/illustrations/farm2.png');height: 500px"></div>

    <!--  Define where the down2 scroll stops  -->
    <div style="position: absolute; margin-top: 20px">
        <p id="images"></p>
    </div>

    <div class="flex-text">
        <p class="sub-title" id="img-text">Quelques petites images</p>
    </div>

    <div class="row">
      <div class="column">
        <img src="{{url_for('static',filename='img/illustrations/Vache 1.jpg')}}" title="Une bien belle vache !" style="width:80%">
      </div>
      <div class="column">
        <img src="{{url_for('static',filename='img/illustrations/Vache 2.jpg')}}" title="Une bien belle vache aussi !" style="width:80%">
      </div>
      <div class="column">
        <img src="{{url_for('static',filename='img/illustrations/Vache 4.jpg')}}" title="Un bien joli veau !" style="width:80%">
      </div>
      <div class="column">
        <img src="{{url_for('static',filename='img/illustrations/Vache 6.jpg')}}" title="Celle-ci est mignonne aussi !" style="width:80%">
      </div>
    </div>

    <div class="row">
      <div class="column">
        <img src="{{url_for('static',filename='img/illustrations/Vache 3.jpg')}}" title="Ces deux là on l'air d'être bien mises !" style="width:65%">
      </div>
      <div class="column">
        <img src="{{url_for('static',filename='img/illustrations/Vache 5.jpg')}}" title="Ben celles-ci aussi tient !" style="width:65%">
      </div>
    </div>

    <div class="flex-text">
        <div class="scroll" id="scroll-up">
            <a href="#"><span id="up"></span></a>
        </div>
    </div>

   </body>
{% endblock %}
