
 /* Graphics colors */
:root{
  --background: #f8fbfc;
  --vColJ: #2471A3;
  --vHovColJ: #2980B9;
  --mColJ: #17A589;
  --mHovColJ: #1ABC9C;
  --dColJ: #CB4335;
  --dHovColJ: #EC7063;
  --tCol: #000;
  --lCol: #000;
  --xGCol: rgba(0,0,0,0.1);
  --xValCol: #000;
  --yGCol: rgba(0,0,0,0.1);
  --yValCol: #000;
  --fColB: #DDA0DD;
  --jColB: #FFDAB9;
  --dColB: #AFEEEE;
  --bColB: #f167f1;
  --bHovColB: #c644c6;
  --baColB: rgba(241, 103, 241,0.2);
  --baHovColB: rgba(198, 68, 198, 0.2);
}

@font-face {
    font-family: Roboto;
    src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
@font-face {
    font-family: Open-sans;
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap")
}
@font-face {
    font-family: Noto-sans;
    src: url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&display=swap")
}


html{
    background-color: #f8fbfc;
}

.credits{
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  filter: opacity(50%);
  justify-content: center;
  margin-top: 50px;
  font-size: 14px;
}

.titre{
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Roboto',sans-serif;
    font-size: 60px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    color: #221f1d;
}
#figures{
    margin-top: 50px;
    font-size: 50px;
}


/* Bouton pour changer de theme */
.theme_bulb{
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  position: absolute;
  overflow: hidden;
  object-fit: cover;
  width: 35px;
  margin-top: -58px;
  margin-left: 96%;
}
.theme_bulb:hover{
  filter: opacity(50%);
}

/* 404 page */
.center{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#error {
  font-family: sans-serif;
  font-size: 300px;
  margin-top: 150px;
  font-weight:bold;
}
#error-h3{
  font-family: sans-serif;
  font-size: 80px;
  margin-left: -450px;
  margin-top: -30px;
  text-align: left;
}
#error-p{
  font-family: sans-serif;
  font-size: 50px;
  margin-left: 250px;
  text-align: center;
}
#home{
  margin-top: 230px;
}
.btn{
  background-color: #fff; /* Green */
  border: 2px solid #072c4f;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  flex-wrap: nowrap;
  font-size: 16px;
  position: fixed;
  top: 50%;
  margin-left: 45%;
  margin-right: auto;
}
.btn:active, .btn:hover{
  color: white;
  border: solid 0px;
  background-color: #072c4f;
}


.box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /*background-color: rgba(255,0,0,0.2);*/
}
.paragraphe{
    /*background-color: rgba(0,255,0,0.2);*/
    width: 1500px;
    font-family: 'Open-sans',sans-serif;
    color: #221f1d;
    font-size: 20px;
}
#intro{
    margin-top: 50px;
    text-align: center;
}
#p1{
    margin-top: 50px;
    text-align: justify;
}
#p2{
    margin-top: 50px;
    text-align: justify;
}
#figuresp{
    margin-top: 50px;
    text-align: center;
}


/*Nav Bar*/

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav{
  background: #166088;
  height: 80px;
  width: 100%;
}
.logo{
  width: 70px;
  height: 70px;
  margin-top: 5px;
  margin-left: 75px;
  margin-right: auto;
}
nav ul{
  float: right;
  margin-right: 90px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 4px;
}
nav ul li a{
  color: #f8fbfc;
  font-size: 17px;
  font-family: 'oto-sans', sans-serif;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a.not-active:hover{
  background: #14567a;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: #f8fbfc;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1000px){
  .logo{
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: auto;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 950px){
  .theme_bulb{
    display: none;
  }
  .checkbtn{
    display: block;
  }
  .titre{
    font-size: 50px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #5c90ac;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a.active,a.not-active{
    background: none;
    color: #072c4f;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

