@font-face {
    font-family: Roboto;
    src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
html{
    background-color: #001f3f;
}
.hello{
    font-family: 'Roboto',sans-serif;
    font-size: 80px;
    padding: 500px 0 500px;
    display: flex;
    justify-content: center;
    color: #80BFFF;
}
img{
    width: 50px;
    height: 50px;
}
